{% extends "ApplicationGriBlogBundle::layout.html.twig" %}
 
{% block title %}
    Profile
{% endblock %}
 
{% block content %}
{# total items count #}
	<div class="panel panel-default">
	<div class="panel-heading">Всего: {{ pagination.getTotalItemCount }}</div>
	<table class="table">
	<tr>
	{# sorting of properties based on query components #}
	    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
	    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
	</tr>

	{# table body #}
	{% for post in pagination %}
	<tr {% if loop.index is odd %}class="color"{% endif %}>
	    <td>{{ post.id }}</td>
	    <td><a href="{{path('post', {'id': post.id})}}">{{ post.title }}</a></td>
	</tr>
	{% endfor %}
	</table>
	</div>
	{# display navigation #}
	<div class="navigation">
	    {{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
