{% extends "ApplicationGriBlogBundle::layout.html.twig" %}
 
{% block title %}
    {{ post.title }}
{% endblock %}
 
{% block content %}
<div class="row">
    <div class="col-lg-9">
    	<h2>{{ post.title }}</h2>
        <div class="row">
            <div class="col-lg-12">
                {{ post.user.username }} <span class="badge">{{ post.user.created_at|date("m.d.Y H:i:s") }}</span>
            </div>
        </div>
        <hr>
        <div class="row well">
            <div class="col-lg-12">
                {{ post.content }}
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-right">
        {% if post.path %}
        <img src="/uploads/documents/{{ post.path }}">
        {% endif %}
    </div>
</div>
{% endblock %}