{% extends "ApplicationGriBlogBundle::layout.html.twig" %}
 {% block title %}
    Registration
{% endblock %}
{% block content %}
<form action="" method="post" class="form-horizontal">
{{ form_widget(form) }}
<button type="submit" class="btn btn-default">Ok</button>
</form>



{% endblock %}