     {% extends "::base.html.twig" %}
        {% block body %}
        <header class="clearfix">
            <h1>
                Blog
            </h1>
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Blog</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}">Posts</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('user_home') }}">Profile</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('login_logout') }}">
                                Выход
                            </a>
                        </li>
                    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <li>
                            <a href="{{ path('user_login') }}">
                                Войти
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_registration') }}">
                                Регистрация
                            </a>
                        </li>
                    {% endif %}
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
        </header>
    <div class="container">

      <div class="starter-template">
            {{ block('content') }}
        </div></div>
        {% endblock %}