{% extends "ApplicationGriBlogBundle::layout.html.twig" %}
 
{% block title %}
    Login
{% endblock %}
 
{% block content %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    <h2>Login</h2>
    <form action="{{ path('login_check') }}" class="form-inline" method="POST">
      <div class="form-group">
        <label class="sr-only" for="username">Email address</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
          <input type="email" class="form-control" id="username" name="_username" placeholder="Email">
        </div>
        
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
        </div>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
{% endblock %}